.container {
    width: 100%;
    box-sizing: border-box;

    background-color: var(--footer-background-color);
    color: white;
    padding: var(--size-l);

    display: flex;
    justify-content: space-between;
}

.section {
    display: flex;

    margin-bottom: var(--size-m);
}

.section:last-child {
    margin-bottom: 0px;
}

.delimiter {
    padding: 0 var(--size-m);
}

@media screen and (max-width: 31.25em) {
    .container {
        flex-direction: column;
    }
}
