article {
}

article p {
    width: 100%;
    line-height: 1.5em;
}

article img {
    width: 100%;
}

article li {
    line-height: 1.5em;
}

article blockquote {
    color: rgb(90, 200, 240);
    font-size: 2em;
    line-height: 1.5em;

    width: 60%;
    margin-left: 40%;
}

@media screen and (max-width: 31.25em) {
    article blockquote {
        font-size: 1.5em;
        line-height: 1.5em;

        width: auto;
        margin-left: 0;
    }

    article p {
        width: auto;
    }
}