.button {
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
    padding: 0;

    display: flex;
    justify-content: center;

    box-shadow: 0 0 0 2px var(--color-text-opposite);

    width: 24px;
    height: 18px;
    overflow: hidden;
}
