.container {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.horizontal {
    padding: 0 var(--size-l);
    height: var(--height-header);
    flex-direction: row;
    align-items: center;
}

.logo {
    display: block;
    width: var(--width-logo);

    /* SVG inside A compensation */
    position: relative;
    top: 2px;
}
