@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap');

:root {
    --body-background-color: hsla(196, 83%, 95%, 1);
    --footer-background-color: rgb(0, 83, 108);
    --header-background-color: white;
    --background-color: rgb(255, 255, 255);

    --size-sx: 2px;
    --size-s: 4px;
    --size-m: 8px;
    --size-l: 16px;
    --size-xl: 24px;
    --size-xxl: 48px;

    --font-family-main: 'Roboto', Helvetica, sans-serif;
    --font-family-second: 'Roboto Condensed', Helvetica, sans-serif;
    --font-family-accent: 'Roboto', Helvetica, sans-serif;

    --width-main: 70%;
    --width-sidebar: 70vw;
}

body {
    font-family: var(--font-family-main);
    background-color: var(--body-background-color);

    height: 100vh;
    padding: 0;
    margin: 0;
}

/* MOBILE  */

@media screen and (max-width: 31.25em) {
    :root {
        --width-main: 100%;
    }
}
