@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap');

:root {
    --color-brand-light: rgb(90, 200, 240);
    --color-brand-dark: rgb(0, 83, 108);

    --color-text: black;
    --color-text-opposite: white;

    --color-back-body: hsla(196, 83%, 95%, 1);
    --color-back-footer: var(--color-brand-dark);
    --color-back-header: var(--color-brand-light);
    --color-back-accent: var(--color-brand-light);
    --color-back: rgb(255, 255, 255);
    --color-link-hover: var(--color-brand-dark);

    --size-xs: 2px;
    --size-s: 4px;
    --size-m: 8px;
    --size-l: 16px;
    --size-xl: 24px;
    --size-xxl: 48px;

    --font-size-xs: 0.9em;
    --font-size-s: 1em;
    --font-size-m: 1.25em;
    --font-size-l: 1.5em;
    --font-size-xl: 2em;
    --font-size-xxl: 4em;

    --font-size-main: var(--font-size-s);
    --font-size-text: var(--font-size-m);
    --font-size-second: var(--font-size-xs);
    --font-size-menu: var(--font-size-m);

    --font-family-main: 'Roboto', Helvetica, sans-serif;
    --font-family-second: 'Roboto Condensed', Helvetica, sans-serif;
    --font-family-accent: 'Roboto', Helvetica, sans-serif;

    --width-main: 70%;
    --width-sidebar: 70vw;
    --height-header: 60px;
    --width-logo: 250px;

    --page-head-bottom: 100px;
    --page-head-block-width: 75%;
}

body {
    font-family: var(--font-family-main);
    font-size: var(--font-size-main);
    color: var(--color-text);

    height: 100vh;
    padding: 0;
    margin: 0;
}

.logo {
    fill: var(--color-text-opposite);
}

.logo:hover {
    fill: var(--color-link-hover);
}

/* MOBILE  */

@media screen and (max-width: 31.25em) {
    :root {
        --width-main: 100%;
        --height-header: 48px;
        --width-logo: 200px;

        --font-size-xs: 0.9em;
        --font-size-s: 1em;
        --font-size-m: 1em;
        --font-size-l: 1.25em;
        --font-size-xl: 1.5em;
        --font-size-xxl: 3em;

        --page-head-bottom: 100px;
        --page-head-block-width: 95%;
    }
}

/* DARK THEME */

@media screen and (prefers-color-scheme: dark) {
    :root {
        --color-back: hsla(194, 100%, 21%, 1);
        --color-back-body: hsla(194, 100%, 16%, 1);
        --color-back-header: var(--color-brand-dark);
        --color-back-footer: var(--color-brand-light);
        --color-text-opposite: var(--color-brand-light);
        --color-text: white;

        --color-back-accent: var(--color-brand-dark);
        --color-link-hover: white;
    }
}
