.link {
    display: flex;
    align-items: center;
}

.icon {
    transition: fill var(--transition-link-hover-delay);
    fill: var(--color-text-opposite);
}

.icon:hover {
    fill: var(--color-link-hover);
}
