.card {
    box-sizing: border-box;

    transition: background-color 200ms;
}

.card:hover{
    background-color: var(--color-back-card);
}

.card h2 {
    margin: 0;
    margin-bottom: var(--size-m);
}

.body {
    padding: var(--size-m) var(--size-l) var(--size-l);
}

.link {
    display: block;
    text-decoration: none;
    color: var(--color-text);

    position: relative;
}
