.card {
    box-sizing: border-box;

    background-color: var(--color-back);
}

.card h2 {
    /* padding: 0 10px; */
    color: rgb(90, 200, 240);

    /* margin: 0.5em 0; */
    margin: 0;
    margin-bottom: var(--size-m);
}

.body {
    padding: var(--size-m) var(--size-l) var(--size-l);
}

.card:hover {
    /* color: rgb(0, 83, 108); */
    color: tomato;
}

.card:hover h2 {
    color: var(--color-text-hover);
}

.link {
    display: block;
    text-decoration: none;
    color: var(--color-text);

    position: relative;
}
