/* ELEMENT */

.container {
    width: 100%;
    box-sizing: border-box;

    background-color: var(--color-back-footer);
    color: white;
    padding: var(--size-l);

    display: flex;
    justify-content: space-between;
}

.section {
    display: flex;

    margin-bottom: var(--size-m);
}

.section:last-child {
    margin-bottom: 0px;
}

.copyright {
    margin-bottom: var(--size-l);
}

.delimiter {
    padding: 0 var(--size-m);
}


/* MODIFIER */

.vertical {
    flex-direction: column;
}

/* MOBILE */

@media screen and (max-width: 31.25em) {
    .container {
        flex-direction: column;
    }
}
